html,body{
    position:relative;
    height:100%;
    width:100%;
    background-color:black;
    color:lightgreen;
    overflow:hidden;
};

.container{
    position:relative;
    width:90%;
    padding:0;
    text-align:center;
    margin:50px auto 0px auto;
}

.gameboard{
    width:600px;
    height:500px;
    margin: 50px auto;
}

.gameboard ul{
    position:relative;
    margin:0;
    left:12%;
}

.gridrow li{
    display:inline-block;
    border-right:2px solid lightgreen;
    border-bottom:2px solid lightgreen;
    height:150px;
    width:150px;
    max-height:150px;
    max-width:150px;
    margin:0;
    padding:0;
    overflow:hidden;
    text-align: center;
}

#y1x3,#y2x3,#y3x3{
    border-right:0;
}

#y3x1,#y3x2,#y3x3{
    border-bottom:0;
}

.gridrow{
    padding:0;
}

.square{

    overflow:hidden;
    font-family:Arial, Helvetica, sans-serif;
    font-size:125px;
}

.square p{
    margin-top:5px;
}

#message-area{
    height:200px;
    width:50%;
    margin:0 auto;
    font-family: Arial, Helvetica, sans-serif;
    color:silver;
    text-align: center;
    padding-top:20px;

}

.choose{
    border:1px solid lightgreen;
    margin:0 30px 0 30px;
    font-size:100px;
    padding:0 20px 0 20px;
}

.player{
    color:lightblue;
}

.computer{
    color:lightgreen;
}

.win p{
    color:red !important;
}

.reset-area{
    text-align:center;
}

.reset-area button{
    width:100px;
    height:75px;
    background-color:silver;
    color:black;
    font-size:20px;
}